<h1>Courses#new</h1>

<%= form_for(@course) do |f| %>

<label> Name Your Course</label><br>
<%= f.text_field :name %><br>

<label>Add Some Hours To Your Course</label><br>
<%= f.number_field :class_hr %><br>


<p>
  <%= f.submit "Create Course" %>
</p>

<% end %>